<h2>Reports</h2>

<ul id="reports"></ul>

@section scripts {
    <script>
        $(function () {

            let hubUrl = 'http://localhost:5000/reportsPublisher';
            let httpConnection = new signalR.HttpConnection(hubUrl);
            let hubConnection = new signalR.HubConnection(httpConnection);
            
            hubConnection.on('OnReportPublished', data => {
                $('#reports').append($('<li>').text(data));
            });

            hubConnection.start();

        });
    </script>
}